%div.message-container(id="message-#{message.id}" draggable="true" ondragstart="dragstart_handler(event);")
  %a(href="#" draggable="false" tabindex="0" data-trigger="focus" data-toggle="popover" title="Your Positive Message..." data-content="#{message}")
    %img.message(draggable="false" src="/assets/cap-#{message.emoji}.png" )