%section
  .row
    .col-xs-12.banner
      .site-title
        %h1.text-center
          EMOTE!
      - unless request.path != '/'
        .emojis.col-xs-8.col-xs-offset-2
          .emoji.col-xs-3
            %h3.emoji-title.text-center
              Joy
            %img.emoji-image(src="/assets/emot-joy.png")
          .emoji.col-xs-3
            %h3.emoji-title.text-center
              Love
            %img.emoji-image(src="/assets/emot-love.png")
          .emoji.col-xs-3
            %h3.emoji-title.text-center
              Fun
            %img.emoji-image(src="/assets/emot-fun.png")
          .emoji.col-xs-3
            %h3.emoji-title.text-center
              Hope
            %img.emoji-image(src="/assets/emot-hope.png")
          
        
