%section
  .row
    .col-xs-12.banner
      .site-title
        %h1.text-center
          EMOTE!
      .emojis.col-xs-8.col-xs-offset-2
        .emoji.col-xs-3
          %h3.emoji-title.text-center
            Joy
          .emoji-image.joy
        .emoji.col-xs-3
          %h3.emoji-title.text-center
            Love
          .emoji-image.love
        .emoji.col-xs-3
          %h3.emoji-title.text-center
            Fun
          .emoji-image.fun
        .emoji.col-xs-3
          %h3.emoji-title.text-center
            Hope
          .emoji-image.hope
        
        

