// if current user
// show logout link
// account link
// else

.top-right-fixed-menu
  - if current_user
    = link_to "Logout", logout_path, method: 'post'
    | 
    = link_to "Account", edit_user_path(current_user)
  - else
    = link_to "Login", login_path
    | 
    = link_to "Sign Up", register_path