%section
  .row.splash-info
    .col-xs-7
      .row.splash-info-third
      .row.splash-info-third
        .col-xs-3
          .message
            %img(src="assets/cap-fun.png")
        .col-xs-3
          .message
            %img(src="assets/cap-fun.png")
        .col-xs-3
          .message
            %img(src="assets/cap-fun.png")
        .col-xs-3
          %i.gi-2x.glyphicon.glyphicon-plus-sign
      .row.splash-info-third
    .col-xs-4
      .row.splash-info-third
        .splash-message-header.text-center.hope
          Write your message...
      .row.splash-info-third.hope
        Some place holder text here
      .row.splash-info-third
  .row.splash-info.well
    #splash-dispensers
  .row.splash-info
    #splash-call-to-action