%section.signup
  .row
    .col-xs-6
      %h2 Sign Up
      %p
        Sign up for Emote! and get an army of robots that deliver your messages when you want them delivered. 
      %p
        Choose from different dispenser modes like: 
        %ul
          %li Random Sprinkles - for random cute messages.
          %li Story Time - Send a sequence of messages at predetermined times
          %li Delayed Messages - Schedule one off reminders and messages (birthday texts)
    .col-xs-6
      %form
        %header 
          %h2
            Register
        %fieldset
          .form-group
            %label(for="email") Email
            %input.form-control(type="email" name="email")
          .form-group
            %label(for="password") Password
            %input.form-control(type="password" name="password")
          %hr
        %fieldset.credit_card
          %span.payment-errors
          .form-group
            %label(for="credit-card-number") Credit Card Number
            %input.form-control(id="credit-card-number" type="text" data-stripe="number")
          .form-group
            %label(for="security-code") Security Code
            %input.form-control(id="security-code" type="text" data-stripe="cvc")
          .form-group
            %label Expiration
            .row
              .col-xs-6
                = select_month(Date.today, {add_month_numbers: true},  class: 'form-control', data:{stripe: "exp-month"})
              .col-xs-6
                = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control', data: {stripe: "exp-year"})
        %input(type="submit" value="Submit" class="btn btn-default")