%section.splash
  .row
    .blurb.col-xs-8.col-xs-offset-2.text-center
      Create Messages > Choose Recipient > Select Dispenser
  .row
    .call-to-action.col-xs-6.col-xs-offset-3.text-center.clearfix
      %h3
        Start Writing Messages
      %a.signup(href="/ui/signup")
        Sign Up Why Don't Ya!
  